.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.tooltip {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    z-index: 500;
    position: absolute;
    opacity: 0;
    background: cadetblue;
    color: #fff;
}

.bar:hover {
    background: cadetblue;
}